<html>
 
 <head>
  <meta charset="utf-8">
  <title>Easy Board</title>
  <link rel="stylesheet" href="/vendor/bootstrap-css/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/index.css">
  <link rel="stylesheet" href="/stylesheets/header.css">
  <link rel="stylesheet" href="/stylesheets/footer.css">
  <script src="/vendor/jquery/dist/jquery.min.js"></script>
  <script src="/vendor/bootstrap-css/js/bootstrap.min.js"></script>
 </head>
 
 <body>
  <header>
   <nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
     <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
     </button>
     <a class="navbar-brand" href="board/list">Easy Board</a>
    </div>
    <div class="navbar-collapse collapse">
     <ul class="nav navbar-nav navbar-right">
      <form action="/entrar" method="post" class="form-inline form-login">
        <input type="email" class="form-control input-email" id="login-email" name="usuario[email]" placeholder="Email" value="leoccabral@gmail.com">
        <input type="password" class="form-control input-password" id="login-password" name="usuario[password]" placeholder="Password" value="leo">
        <button type="submit" class="btn btn-primary btn-sidn-in">Sign in/Join</button>
       </form>
     </ul>
    </div>
   </nav>
  </header>
  <main id="wrap">