<% include ../header %>
    <header>
        <link rel="stylesheet" href="/stylesheets/home.css">    
    </header>
   <div class="home-texto">
        <h2>The easiest way to develop business models.</h2>
        <p>
            Get started now planning your business. Its fast, easy and FREE!
        </p>
    </div>
    <div class="home-image">
        <img alt="" src="images/mac.png">
    </div>
<% include ../footer %>