<template name="board_task">
    <div class="task">
        <div class="task-move" data-story-id="{{../_id}}" data-task-id="{{_id}}" data-task-name="{{name}}" data-task-assigned="{{assigned}}">
            <a class="glyphicon glyphicon-remove btn btn-delete-task pull-right"></a>
            <a class="glyphicon glyphicon-pencil btn btn-edit-task pull-right" data-toggle="modal" data-target=".modal-add-task"></a>
        </div>

        <div class="task-content">
            <div class="task-description">
                <span>{{name}}</span>
            </div>
            <div class="task-footer">
                <div class="task-assigned">
                    {{assigned}}
                </div>
            </div>
        </div>
    </div>
</template>