<template name="board_new">
    <div class="board_new">
        <div class="container">
            <h3></h3>
            <div class="well-white col-md-4">
                <legend>
                    New board
                </legend>

                <form>
                    <div class="form-group">
                        <label for="nameBoard">Name</label>
                        <input class="form-control" id="boardName" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <label for="boardType">Type</label>
                        <select class="form-control" id="boardType">
                            <option value="SCRUM">Scrum</option>
                        </select>
                    </div>
                    <div class="controlbar">
                        <button type="submit" class="btn btn-primary pull-right">Create</button>
                        <a href="{{pathFor 'board_list'}}" class="btn btn-primary pull-right">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>
