<% include ../header %>
    <header>
        <link rel="stylesheet" href="/stylesheets/board.css">
    </header>
    <div class="board_list">
        <div class="well-white">
            <legend>
                Your boards
                <a href="/board/new" class="btn btn-primary pull-right">New Bord</a>
            </legend>

            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Created By</th>
                    </tr>
                </thead>
                <tbody>
                      <% boards.forEach(function(board) { %>
                    
                    <tr>
                        <td><a href="/board/<%- board._id %>"><%- board.name %></a></td>
                        <td>
                            <%- board.type == "SCRUM"?"Scrum":"" %>
                        </td>
                        <td><%- board.userName %></td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
    <% include ../footer %>
